* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
  }

  .container{
  width: 100vw;
  height: 100vh;
  background-image: url(img/hme/count.jpeg);
  background-position: center;
  background-size: cover;
  padding: 0 8%;
  position: relative;
}
.content{
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  color: #ffffff;
}
.content h1{
  font-size: 64px;
  font-weight: 600;
}
.content h2 span{
  color: rgb(255, 255, 255);
  background-color: #ff3737;
  border:#ff3737
}
.content h1 span{ 
color: #ff3737;
}
.launch-time{
  display: flex;
}

.launch-time div{
  flex-basis: 100px;
  
}
.launch-time div p{
  font-size: 40px;
  margin-bottom: -14px;
  text-align: center;
  background-blend-mode: luminosity;
  border-radius: 10%;
  background-color: #ff3737;
  box-shadow: 2px 3px rgb(158, 5, 5);
  color: #ffffff;
}
.launch-time div span{
  font-size: 40px;
  margin-bottom: -14px;
}